{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SLM</title>
    <style>
       h1 {text-align: center;}
    </style>
</head>
<body>
    <h1>Somebody Like Me</h1>
    <!-- <input type="text" name="search" placeholder="Search.."> -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <div class="wrap">
        <div class="search">
              <input type="text" class="searchTerm" placeholder="Enter physical aspect">
              <button type="submit" class="searchButton" onclick="http://127.0.0.1:8000/home/">
                  <i class="fa fa-search"></i>
              </button>
        </div>
    </div>
</body>
</html>