{% extends 'base.html' %}

{% block content %}

{% load static %}

<h1>Somebody Like Me</h1>
<!-- <input type="text" name="search" placeholder="Search.."> -->
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<!--<div class="wrap">
    <div class="search">
          <input type="text" class="searchTerm" placeholder="Enter physical aspect">
          <button type="submit" class="searchButton" onclick="http://127.0.0.1:8000/search_results/">
              <i class="fa fa-search"></i>
          </button>
    </div>
</div> -->

<form action="search_results" method="post">
    {% csrf_token %}
    Enter physical characteristics: <input type="text", name="physique"><br>
    <input type="submit">
</form>

{% endblock %}